page-author-modal {
    ion-card {
        ion-card-content {
            ion-card-title {
                font-size: 1.2em !important;
                color: #fff !important;
            }
            p {
                font-size: 0.8em !important;
                color: #fff;
            }
        }
    }
    .disclaimer{
        position: absolute;
        bottom: 10px;        
        left: 20px;
        font-style: italic;
    }
}
