<ion-header>
    <ion-navbar color="dark">
        <ion-title>Library</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="banner" type="progress" *ngIf="fetching">
        Loading hymnals...
    </div>
    <ion-item-group *ngIf="offlineHymnalList.length == 0 && isCordova" class="empty">
        <ion-item-divider>DOWNLOADED HYMNALS</ion-item-divider>
        <ion-item>
            <p>No downloaded hymns to display</p>
        </ion-item>
    </ion-item-group>
    <ion-item-group *ngIf="offlineHymnalList.length > 0">
        <ion-item-divider>DOWNLOADED HYMNALS</ion-item-divider>
        <ion-item *ngFor="let hymnal of offlineHymnalList" (tap)="setActiveHymnal(hymnal.id)" [ngClass]="{ 'active': (activeHymnal == hymnal.id) }">
            <ion-thumbnail item-start>
                <img [src]="hymnal.image" [alt]="hymnal.name" />
            </ion-thumbnail>
            <h2>{{ hymnal.name }}</h2>
            <h3 *ngIf="hymnal.url">
                <a [href]="hymnal.url" target="_blank">{{ hymnal.url }}</a>
            </h3>
            <p>{{hymnal.count}} hymns</p>
        </ion-item>
    </ion-item-group>
    <ion-item-group *ngIf="!onlineHymnalList" class="empty">
        <ion-item-divider>ONLINE HYMNALS</ion-item-divider>
        <ion-item>
            <p>No online hymns to display</p>
        </ion-item>
    </ion-item-group>
    <ion-item-group *ngIf="onlineHymnalList">
        <ion-item-divider>ONLINE HYMNALS</ion-item-divider>
        <ion-item *ngFor="let hymnal of onlineHymnalList" [ngClass]="{ 'active': (activeHymnal == hymnal.id) }">
            <ion-thumbnail item-start>
                <img [src]="hymnal.image" [alt]="hymnal.name" />
            </ion-thumbnail>
            <h2>{{ hymnal.name }}</h2>
            <h3 *ngIf="hymnal.url">
                <a [href]="hymnal.url" target="_blank">{{ hymnal.url }}</a>
            </h3>
            <p>{{hymnal.count}} hymns</p>
            <button ion-button item-end clear (tap)="setActiveHymnal(hymnal.id)" *ngIf="!isCordova">View</button>
            <button ion-button item-end clear (tap)="setActiveHymnal(hymnal.id)" *ngIf="isCordova">
                <ion-icon name="download"></ion-icon>
            </button>
        </ion-item>
    </ion-item-group>
</ion-content>