<!--
  Generated template for the SettingsPopoverItemsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <button ion-button clear (click)="goBack()">
    </button>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="activeList == 'Alignment'">
    <ion-list radio-group [(ngModel)]="alignmentText" (ionChange)="alignmentChange()">
        <ion-item *ngFor="let align of alignments" tappable>
          <span class="fa fa-align-{{align}}"></span>
          <ion-label>{{ align.charAt(0).toUpperCase() + align.slice(1) }}</ion-label>
          <ion-radio value="{{ align }}"></ion-radio>
        </ion-item>
    </ion-list>
  </div>
  <div *ngIf="activeList == 'Theme'">
    <ion-list radio-group [(ngModel)]="themeText" (ionChange)="themeChange()">
      <ion-item *ngFor="let theme of themes" tappable>
          <ion-label>{{ theme.charAt(0).toUpperCase() + theme.slice(1) }}</ion-label>
          <ion-radio value="{{ theme }}"></ion-radio>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="activeList == 'Font Size'">
    <ion-list radio-group [(ngModel)]="activeFontSize" (ionChange)="fontSizeChange()">
      <ion-item *ngFor="let size of fontSizes" tappable>
          <ion-label>{{ size }}</ion-label>
          <ion-radio value="{{ size }}"></ion-radio>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="activeList == 'Font Name'">
    <ion-list radio-group [(ngModel)]="activeFontName" (ionChange)="fontNameChange()">
      <ion-item *ngFor="let name of fontNames" tappable>
          <ion-label [ngStyle]="{ 'fontFamily': name }">{{ name }}</ion-label>
          <ion-radio value="{{ name }}"></ion-radio>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="activeList == 'Extra Spacing'">
    <ion-range min="0" max="500" [(ngModel)]="paddingText" step="10" snap="true" pin="true" (ionChange)="paddingChange()">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>500</ion-label>
    </ion-range>
  </div>
</ion-content>